<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Travel Planner</a>
      </h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </nav>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
  </div>
</body>

</html>