<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
  <div>
    <header class="center-text">
      <h1>
        <a href="/">Travel Planner</a>
      </h1>
    </header>
    <nav class="center-text">
      {{#if loggedIn}}
      <a href="/">Home</a>
      <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
    </nav>
    <main>
      <div>
        {{{ body }}}
      </div>
    </main>
  </div>
  <script src="/js/logout.js"></script>
</body>

</html>