<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Sansita+Swashed:wght@300;400&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
  <div>
    <header class="center-text">
      <h1>
        <a href="/">Travel Planner</a>
      </h1>
    </header>
    <nav class="center-text">
      <a href="/">Home</a>
      <button id="logout" class="">logout</button>
      <a href="/login">login</a>
    </nav>
    </nav>
    <main>
      <div>
        {{{ body }}}
      </div>
    </main>
  </div>
  <script src="/js/logout.js"></script>
</body>

</html>