<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Sansita+Swashed:wght@300;400&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
  <div>
    <header class="justify-content-center center-text">
      <h1>
        <a href="/">Travel Planner</a>
      </h1>
    </header>
    <nav class="center-text">
      <a href="/">Home</a>
      {{#if loggedIn}}
      <button id="logout" class="">logout</button>
      {{/if}}
      <a href="/login">login</a>
    </nav>
    </nav>
    <main class="">
      <div>
        {{{ body }}}
      </div>
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>