<nav class="center-text navbar">
   <a href="/">Home</a>
   <button id="logout" class="">logout</button>
   <a href="/login">login</a>
</nav>

<br />
<div class="parent-contianer d-flex">
   {{! left container }}
   <div class="search-container container">
      <div class="row">
         <div class="col">
            <label for="search-bar">Where would you like to go?</label>
            <div class="nav-item dropdown">
               <button class="btn btn-secondary nav-link dropdown-toggle" href="#" id="dropdown01"
                  data-bs-toggle="dropdown" aria-expanded="false">Locations</button>
               <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
            </div>

            <div class="search-results">
               <br />
               <h3>Recent Searches</h3>
               {{! not sure how to denote that infomation will get populated based on
               results }}
               <br />
               <br />
               <div>
                  <h3>Hotel Cannes</h3>
                  <p>Canes, France</p>
                  <p>blurb? not sold....can be done down the road.</p>
               </div>
               <br />
               <div>
                  <h3>HOTEL NAME HERE</h3>
                  <p>Location, Location</p>
                  <p>blurb? not sold....can be done down the road.</p>
               </div>
               <br />
               <div>
                  <h3>HOTEL NAME HERE</h3>
                  <p>Location, Location</p>
                  <p>blurb? not sold....can be done down the road.</p>
               </div>
            </div>
         </div>
      </div>
   </div>

   {{! right container }}

   <div class="overivew container">
      <div class="flex-row">
         <div class="col">
            <div class="profile">
               <img src="" alt="" />
               {{! sign out option here? }}
               {{! latest activity noted here? }}
            </div>

            <div class="saved-trips">
               {{! have a photo that represents the trip with text as an
               overlay? }}
               <br />
               <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  img
                  <div class="thumbnail">
                     <img class="img-fluid" src="https://assets.codepen.io/7125791/chromaticpool.jpg" alt="" />
                  </div>
                  <br />
                  img
                  <div class="thumbnail">
                     <img class="img-fluid" src="https://assets.codepen.io/7125791/orint083.jpg" alt="" />
                  </div>
                  <br />
                  img
                  <div class="thumbnail">
                     <img class="img-fluid" src="https://assets.codepen.io/7125791/DisneyContemporary.jpg"
                        alt="Walt Disney Contemporary Resort" />
                  </div>
                  <br />

                  <br />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>