{{!-- left container --}}
<div class="search-container">
  <label for="search-bar">Where would you like to go?</label>
  <input type="text" id="search-bar" placeholder="ex.) Bali">

  <div class="search-results">
    {{!-- not sure how to denote that infomation will get populated based on results --}}
    <div>
      <h3>HOTEL NAME HERE</h3>
      <p>Location, Location</p>
      {{!-- <p>blurb? not sold....can be done down the road.</p> --}}
    </div>
    <div>
      <h3>HOTEL NAME HERE</h3>
      <p>Location, Location</p>
      {{!-- <p>blurb? not sold....can be done down the road.</p> --}}
    </div>
    <div>
      <h3>HOTEL NAME HERE</h3>
      <p>Location, Location</p>
      {{!-- <p>blurb? not sold....can be done down the road.</p> --}}
    </div>
  </div>
</div>

{{!-- right container --}}
<div class="overivew">
  <div class="profile">
    <img src="" alt="">
    {{!-- sign out option here? --}}
    {{!-- latest activity noted here? --}}
  </div>

  <div class="saved-trips">
    {{!-- have a photo that represents the trip with text as an overlay? --}}
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div>