<div class="hero-cta">
{{!-- set a background image & then have the buttons route to signup/sign in page --}}

{{!-- introduction to the web application area --}}
  <div class="cta-description">
      <p>Have you ever wanted to plan a group trip but agreeing on one thing was too hard? Look no further than APP-NAME-HERE. Planning a trip is that much easier now that everyone's input can be taken into account in one place! You'll be able to have estimated dates, hotels, and restaurants all in one location! Sign Up today to plan your getaway! </p>
      
      {{!-- <div>
        <button>Sign Up</button>
        <button>Login</button> 
      </div>
    </div> --}}
    {{!-- 3 card_homepages with mock testimonials if we have time will go below here --}}
<h3>testimonials</h3>

<div class="container_homepage">
	<div class="card_homepage">
		<figure class="card_homepage__thumb">
			<img src="https://assets.codepen.io/7125791/swan-vacation_1.jpg" class="card_homepage__image">
			<figcaption class="card_homepage__caption">
				<h2 class="card_homepage__title">BEST Travel Planner Out there!</h2>
				<p class="card_homepage__snippet">Planning a vacation can be so frustrating that it takes the fun out the vacation, but with this new intuitive travel planner my friends and I were able to plan book a cheap hotel for spring break near tons of amazing attractiosn!<br><br> YOU NEED THIS TRAVEL PLANNER</p>
				<a href="" class="card_homepage__button">Read more</a>
			</figcaption>
		</figure>
	</div>

	<div class="card_homepage">
		<figure class="card_homepage__thumb">
			<img src="https://assets.codepen.io/7125791/bali-vacation_1.jpg" class="card_homepage__image">
			<figcaption class="card_homepage__caption">
				<h2 class="card_homepage__title">Amazing Trip to Bali!!</h2>
				<p class="card_homepage__snippet">I had the most amazing vacation thanks to this awesome travel planning app!!<br>So happy that I found it!<br>Thank YOUU!!</p>
				<a href="" class="card_homepage__button">Read more</a>
			</figcaption>
		</figure>
	</div>

	<div class="card_homepage">
		<figure class="card_homepage__thumb">
			<img src="https://assets.codepen.io/7125791/dog_Vacation_1.jpg" class="card_homepage__image">
			<figcaption class="card_homepage__caption">
				<h2 class="card_homepage__title">I LOVE THIS TRAVEL PLANNER</h2>
				<p class="card_homepage__snippet">On Friday, me and the family decided to take a last minute problem which is usaually an issue because we have two dogs....<br>
        But thanks to this Great travel planner we were able to find a lovely hotel that accepted our dogs with open arms!!<br><br>THANK YOU TRAVEL PLANNER!</p>
				<a href="" class="card_homepage__button">Read more</a>
			</figcaption>
		</figure>
	</div>
</div>


</div>