{{!-- left container --}}
<div class="details">
  <div class="hotel">
    <h3>HOTEL NAME HERE</h3>
    <p>Location, Location</p>
  </div>
  <div class="restaurant">
    <h3>RESTAURANT NAME HERE</h3>
    <p>Food Type?</p>
  </div>
</div>

{{!-- right container --}}
<div class="overivew">
  <div> 
    
    <h3>{{ tripData.trip_name }}</h3>
    <p>Estimated/tentative dates</p>
    {{!-- icons for invited attendees? --}}
  </div>

  <div class="comments-section">
    {{!-- all most recent comments go here --}}
    <div class="comments">
      <img src="" alt="">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eum cum sequi at enim voluptatum, incidunt odio eveniet repudiandae ullam.</p>
    </div>
    <div class="comments">
      <img src="" alt="">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eum cum sequi at enim voluptatum, incidunt odio eveniet repudiandae ullam.</p>
    </div>
    <div class="comments">
      <img src="" alt="">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eum cum sequi at enim voluptatum, incidunt odio eveniet repudiandae ullam.</p>
    </div>
    <div class="comments">
      <img src="" alt="">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eum cum sequi at enim voluptatum, incidunt odio eveniet repudiandae ullam.</p>
    </div>
  </div>
</div>