* {
   box-sizing: border-box;
}

:root {
   --primary: #8cc5c9;
   --secondary: #7860f3;
   --tertiary: #3e4b8f;
   --border-radius: 20px;
}

/* ----------Drop Down Menu-------------- */
/* Page styles
================================ */
html, body { background: #1abc9c; }
nav {margin-top: 40px; }


/* Drop Down Styles
================================ */
nav .drop-down {
  list-style: none; 
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: #34495e;
  font-family: Arial;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}

nav .drop-down.closed {
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
}

nav .drop-down li {
  border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}



body {
   font-family: "Merienda One", cursive;
   background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");

   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100px;
   background-color: var(--primary);
   border-radius: var(--border-radius);
   border-top: 200px;
}

div {
   text-align: center;
}

.saved-trips {
   display: flex;
}

a {
   color: var(--tertiary);
   text-decoration: none;
   font-family: "Sansito Swashed", cursive;
   font-size: larger;
}

a:visited {
   color: inherit;
}

header {
   padding: 20px;
   text-align: center;
   background: var(--primary);
   color: var(--secondary);
}

main {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
}

/* aside {
  flex: ;
  background-color: ;
  padding: px;
  text-align: ;
  color: ;
} */

nav {
   display: flex;
   justify-content: space-around;
}

nav a {
   color: var(--secondary);
   padding: 20px 30px;
   text-decoration: none;
   text-align: center;
}

nav a:hover {
   color: var(--tertiary);
   background-color: var(-);
}

img {
   border-radius: 20%;
}

input {
   cursor: pointer;
}

button {
   background-color: #1cbfdb;
   border: solid;
   border-color: #0d91a8;
   padding: 1px;
   color: white;
   transition: background-color 0.5s;
   cursor: pointer;
   border-radius: 3px;
}

button:hover {
   background-color: #134852;
}

label {
   font-size: xx-large;
   font-family: "Sansita Swashed", cursive;
}

.search-container {
   color: var(--primary);
   text-shadow: 2px 2px var(--tertiary);
}
