* {
   box-sizing: border-box;
}

body {
   font-family: "Merienda One", cursive;
   background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");

   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100px;
   background-color: var(--primary);
   border-radius: var(--border-radius);
   border-top: 200px;
}
section {
   text-align: center;
}

.saved-trips {
   display: flex;
}

a {
   color: var(--tertiary);
   text-decoration: none;
   font-family: "Sansito Swashed", cursive;
   font-size: larger;
}

a:visited {
   color: inherit;
}

header {
   padding: 20px;
   text-align: center;
   background: var(--primary);
   color: var(--secondary);
}

/* main {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
} */

/* aside {
  flex: ;
  background-color: ;
  padding: px;
  text-align: ;
  color: ;
}
 */

nav {
   display: flex;
   justify-content: space-around;
}

nav a {
   color: var(--secondary);
   padding: 20px 30px;
   text-decoration: none;
   text-align: center;
}

nav a:hover {
   color: var(--tertiary);
   background-color: var(-);
}
/* 
img {
   border-radius: 20%;
} */

input {
   cursor: pointer;
}

button {
   background-color: #1cbfdb;
   border: solid;
   border-color: #0d91a8;
   padding: 1px;
   color: white;
   transition: background-color 0.5s;
   cursor: pointer;
   border-radius: 3px;
}

button:hover {
   background-color: #134852;
}

label {
   font-size: xx-large;
   font-family: "Sansita Swashed", cursive;
}

.search-container {
   color: var(--primary);
   text-shadow: 2px 2px var(--tertiary);
}
