/* * {
  box-sizing: border-box;
} */

:root {
   --primary: #c4f8fc;
   --secondary: #dbd4ff;
   --tertiary: #e9b3ff;
   --border-radius: 20px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: flex;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border-top: 200px;
}

div {
  text-align: center;
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 20px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* aside {
  flex: ;
  background-color: ;
  padding: px;
  text-align: ;
  color: ;
} */

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(-);
}

img {
  
}

input {
  cursor: pointer;
}

button {
  background-color: #1cbfdb;
  border: solid;
  border-color: #0d91a8;
  padding: 1px;
  color: white;
  transition: background-color .5s;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #134852;
}


